.quantity {
  position: relative;
  font-size: 0.8rem;
  background-color: rgb(221, 125, 141);
  border-radius: 1rem;
  color: black;
  right: 0.85rem;
  bottom: 0.65rem;
  padding: 0.1rem;
  height: 1.35rem;
  width: 1.15rem;
  text-align: center;
}
